.container-fluid.p-0
  .row.no-gutters
    .col-lg-4
      .bicycle-images
        .image-half-block
          .img-overlay.hover-it
            button.btn-overlay(data-hover-close)
              i.typcn.typcn-delete
            a.overlay-link(href="#", data-hover-animated) Shop Now
          img(src="../images/image08.jpg", alt="")
        .image-half-block
          .img-overlay.hover-it
            button.btn-overlay(data-hover-close)
              i.typcn.typcn-delete
            a.overlay-link(href="#", data-hover-animated) Shop Now
          img(src="../images/image09.jpg", alt="")
        .image-full-block
          .img-overlay.hover-it
            button.btn-overlay(data-hover-close)
              i.typcn.typcn-delete
            a.overlay-link(href="#", data-hover-animated) Shop Now
          img(src="../images/image10.jpg", alt="")
    .col-lg-4
      .bicycle-images
        .image-half-block
          .img-overlay.hover-it
            button.btn-overlay(data-hover-close)
              i.typcn.typcn-delete
            a.overlay-link(href="#", data-hover-animated) Shop Now
          img(src="../images/image11.jpg", alt="")
        .image-half-block
          .img-overlay.hover-it
            button.btn-overlay(data-hover-close)
              i.typcn.typcn-delete
            a.overlay-link(href="#", data-hover-animated) Shop Now
          img(src="../images/image12.jpg", alt="")
    .col-lg-4
      .bicycle-images
        .image-full-block
          .img-overlay.hover-it
            button.btn-overlay(data-hover-close)
              i.typcn.typcn-delete
            a.overlay-link(href="#", data-hover-animated) Shop Now
          img(src="../images/image13.jpg", alt="")
        .image-half-block
          .img-overlay.hover-it
            button.btn-overlay(data-hover-close)
              i.typcn.typcn-delete
            a.overlay-link(href="#", data-hover-animated) Shop Now
          img(src="../images/image14.jpg", alt="")
        .image-half-block
          .img-overlay.hover-it
            button.btn-overlay(data-hover-close)
              i.typcn.typcn-delete
            a.overlay-link(href="#", data-hover-animated) Shop Now
          img(src="../images/image15.jpg", alt="")

.container-fluid
  .row
    .col
      .discover-block
        a.btn.btn-discover(href="#") Discover the shop
