.container-fluid.p-0
  .row.no-gutters
    .col-lg-8
      .image-section.work-bg-image-1
        .bicycles-brands-logo.animate-it(data-animate-name="bounceInLeft")
          img(src="../images/bicycle-company-logo.png", alt="Bicycle Company")
    .col-lg-4
      .description-section
        .description-text
          h2.headline-icon-1.animate-it(data-animate-name="fadeInUp") vintage Oliva
          p.animate-it(data-animate-name="fadeInUp", data-animate-duration="1.2s", data-animate-delay="200ms") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
        .description-image.work-bg-image-2

  .row.no-gutters
    .col-lg-4.order-lg-1.order-2
      .description-section
        .description-text
          h2.headline-icon-2.animate-it(data-animate-name="fadeInUp") La Boriosa
          p.animate-it(data-animate-name="fadeInUp", data-animate-duration="1.2s", data-animate-delay="200ms") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
        .description-image.work-bg-image-3
    .col-lg-8.order-lg-2.order-1
      .image-section.work-bg-image-4
        .bicycles-brands-logo.animate-it(data-animate-name="bounceInRight")
          img(src="../images/vintage-logo.png", alt="Handcrafted Vintage Bicycles")

  .row.no-gutters
    .col-lg-4
      .image-section.work-bg-image-5
        .bicycles-brands-logo.animate-it(data-animate-name="bounceInLeft")
          img(src="../images/bicycles-logo.png", alt="Bicycles")
    .col-lg-4
      .description-section
        .description-text
          h2.headline-icon-3.animate-it(data-animate-name="fadeInUp") retrò Bike - M. Hulot
          p.animate-it(data-animate-name="fadeInUp", data-animate-duration="1.2s", data-animate-delay="200ms") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
        .description-image.work-bg-image-6
    .col-lg-4
      .image-section.work-bg-image-7
